body{
    color: rgb(94, 94, 231);
    background: rgb(243, 140, 157);
    margin: 0px;
    font-family: "Lora", sans-serif;
}
 
header{
    border-bottom: solid 3px black;
    padding: 20px;
    font-size: 32px;
    color: black;
}

.chamada{
   background: white;
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}

p{
font-size: 20px;    
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0,5;
    height: 200px;
}